{% extends 'base.html' %}

{% block content %}
<h2>
    Team TradeM3
</h2>
<div class="image-banner">
    <div class="images">
        <div class="column">
            <h2>Firas</h2>
            <img class="image" src="/static/images/Firas.png" alt="Firas">    
        </div>
        <div class="column">
            <h2>Gouhar</h2>
            <img class="image" src="/static/images/Gouhar.jpg" alt="Gouhar">
        </div>
        <div class="column">
            <h2>Aiden</h2>
            <img class="image" src="/static/images/Aiden-Terminator.jpg" alt="Aiden">
        </div>
        <div class="column">
            <h2>Ibrahim</h2>
            <img class="image" src="/static/images/Ibrahim-Neo.jpg" alt="Ibrahim">
        </div>
    </div>
</div>
{% endblock %}