<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML TEST</title>
</head>
<body>
    
    <div class="flex-v">
        <div class="flex-h">
            <h1> CSS DEMO WEBSITE</h1>
        </div>
    </div>

    <header>
        <h1></h1>
        <h2></h2>
        <h3></h3>
        <h4></h4>
        
        <nav>
            <a href="#">HOME</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
    </header>  

    <p>Hello World!</p>

    <pre>
def hello():
    print ("Hello World!")
hello()
    </pre>

    <h6 class="yellow-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam voluptates officiis error voluptatem, <span class="red-p"> dignissimos eum accusamus est minima repellendus! </span> Quidem ab recusandae quibusdam rerum illum.</h6>
    <h6 class="green-p italic-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus sit aut ut iste possimus quisquam reiciendis esse sequi. Ipsum inventore consectetur animi amet unde maiores.</h6>
    <h6 class="bold-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, magnam quam. Omnis pariatur, voluptatibus, laboriosam numquam animi veritatis quas possimus quia asperiores, ipsum similique nihil?</h6>

    <img id="logo" src="/static/images/pic1.jpeg" alt="Photo of smt*">

    <a href="link to the page*">
        Text that can be clicked to open the linked page.
    </a>

    <a href="link to the page*">
        <img src="./link to photo file" alt="Photo of smt*">
    </a>

    <a href="link to the page*" target="_blank">
        <img src="./link to photo file" alt="Photo of smt*">
    </a>

    <footer>
        <p>Copyright: ME</p>


    </footer>

</body>
</html>